/* PADRÃO DE TUDO*/

/* BOTAO DE VOLTAR */
.back-button {
  display: block;
  position: relative;
  top: 0%;
  left: 45%;
 opacity: 90%;
  padding: 5px 10px;
  background-color: #C00E0E;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.back-button:hover {
  background-color: #733E32;
  color: #fff;
}
/* PAGINAS DOS CADASTROS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: 'TeX Gyre Schola', serif;
}
 body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #C00E0E ;
}


  .container {
    width: 91%;
    height: 85vh;
    display:flex;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466);
}


/* texto hcp */
  .formheader {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}
   .formheader h1{
    font-family:  'TeX Gyre Schola', serif;
    font-size: 25px;
  opacity: 90%;
  position: absolute;
  top: 11%;
  left: 6%;
 
}
    .formheader h1::after {
     content: '';
     display: block;
     width: 2rem;
     height: 0.3rem;
     background-color: #C00E0E;
     margin: 0 auto;
     position: absolute;
     border-radius: 10px;
 }


/*imagem e div do lado esquerdo da pag*/
 .formimage {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f3e9b5 ;
    padding: 1rem;
    position:relative;
}
  .formimage img {
   width: 340px;
   height:440px;
   padding: 1rem;
   position: absolute;
   top: 10%;
   left: 9%;
}
/* fim da div anterior */



/* div do lado direito onde fica "formulario"*/

 .formpage{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items:center;
    background-color: #f3e9b5  ;
    padding: 2rem;
   
 /* fim do padrao */  
}

 /* FORMULARIO CADASTRO DE FUNCIONARIO */
 .formfunc{
    display: flex;
    justify-content: center;
    margin: 0.2rem 0;
    padding: 01rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    position: relative;
    top: 5%;
    left: 2%;
    caret-color: transparent;
    cursor:default;
}
.formfunc h2{
    font-family:'TeX Gyre Schola', serif;
    color: #C00E0E;
    background-color:#f3ecce ;
    
   
}


/* FORMULARIO CADASTRO DE CLIENTES*/
 .formcliente{
    display: flex;
    justify-content: center;
    margin: 0.6rem 0;
    padding: 01.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    position: relative;
    top: 7%;
    left: 2%;
}
.formcliente h2{
    font-family:'TeX Gyre Schola', serif;
    color: #C00E0E;
    background-color:#f3ecce ;
   
}

table {
  border-collapse: collapse;
  width: 100%;
  border:solid;
caret-color: transparent;
}
th, td {
  text-align: center;
  padding: 4px;

}

th {
  background-color: #f3ecce;
  color: #f3ecce;
  
}

tr:nth-child(even) {
  background-color: #f3ecce;
}

tr:hover {
  background-color: #f3ecce;
}



/* FORMULARIO CADASTRO DE ITENS*/
.formitens{
  display: flex;
  justify-content: center;
  margin: 0.6rem 0;
  padding: 01.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
  position: relative;
  top: 7%;
  left: 2%;
}
.formitens h2{
  font-family:'TeX Gyre Schola', serif;
  color: #C00E0E;
  background-color:#f3ecce ;
 
}
/* FORMULARIO CADASTRO DE PIZZA*/
.formpizza{
  display: flex;
  justify-content: center;
  margin: 0.6rem 0;
  padding: 01.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
     position: relative;
    top: 7%;
    left: 2%;
}
.formpizza h2{
  font-family:'TeX Gyre Schola', serif;
  color: #C00E0E;
  background-color:#f3ecce ;
 
}
table{
border: solid rgb(0, 0, 0);

}
/* botoes */
/* PAGINA DE FUNCIONARIO */
/* BUSCA */
#btn {
  background-color: #C00E0E; /* cor de fundo */
  color: white; /* cor do texto */
  border: none; /* remover borda */
  padding: 5px 10px; /* espaço interno */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* remover sublinhado do texto */
  display: inline-block; /* tornar botão em linha com outros elementos */
  font-size: 14px; /* tamanho da fonte */
  margin: 4px 2px; /* espaçamento externo */
  cursor: pointer; /* cursor ao passar o mouse */
  border-radius: 4px; /* bordas arredondadas */
}
input[type="reset"],
input[type="email"],
input[type="submit"] {

  background-color: #C00E0E; /* cor de fundo */
  color: white; /* cor do texto */
  border: none; /* remover borda */
  padding: 5px 10px; /* espaço interno */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* remover sublinhado do texto */
  display: inline-block; /* tornar botão em linha com outros elementos */
  font-size: 14px; /* tamanho da fonte */
  margin: 4px 2px; /* espaçamento externo */
  cursor: pointer; /* cursor ao passar o mouse */
  border-radius: 4px; /* bordas arredondadas */
}
input[type=text] {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight:100;
  border-radius: 1px;
  border-color: transparent;
  box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.466);
  }
